<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <div class="achievements-container">

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <h3 class="achievement-title">TCS iON NQT - IT</h3>
                    <p class="achievement-description">Achieved an overall score of 57.14% in TCS iON NQT – IT, demonstrating proficiency across aptitude, reasoning, programming, and assessment skills.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <h3 class="achievement-title">GATE DA 2026 Qualified</h3>
                    <p class="achievement-description">
                        Qualified GATE 2026 in Data Science and Artificial Intelligence (DA) with an All India Rank of 9,596 and a score of 353.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-award"></i>
                    </div>
                    <h3 class="achievement-title">B.Tech with Distinction</h3>
                    <p class="achievement-description">
                        Completed B.Tech in Computer Science and Engineering with Distinction, achieving a CGPA of 7.87/10.
                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-calendar-check"></i>
                    </div>
                    <h3 class="achievement-title">Consistent Attendance</h3>
                    <p class="achievement-description">
                        Maintained one of the highest attendance records throughout four years of college, demonstrating strong discipline, consistency, and commitment.
                    </p>
                </div>


            </div>
        </div>
    </section>
</th:block>
</html>